<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <p class="fs-3"> <span class="text-danger">Opps!</span> User is deactivate</p>
        <p class="lead">
            The user you’re looking is deactivate
        </p>
    </div>
</div>