@using BlogFest.Models.Authorization
@model LoginUserViewModel


<form asp-action="SignIn" id="form-sigin" method="post">

    <div class="form-group text-start">
        <label>Name:</label>
        <input asp-for="Name" class="form-control" /> <br />
        <small id="" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div>
            <span class="text-danger field-validation-valid" asp-validation-for="Name"></span>
        </div>
    </div>

    <div class="form-group text-start">
        <label>Password:</label>
        <input asp-for="Password" class="form-control" /><br />
        <div>
            <span class="text-danger field-validation-valid" asp-validation-for="Password"></span>
        </div>
    </div>

    <div class="form-group text-start mb-4">
        <label>Remember me:</label>
        <input asp-for="RememberMe" type="checkbox" /><br />
        <div>
            <span class="text-danger field-validation-valid" asp-validation-for="RememberMe"></span>
        </div>
    </div>

    <div class="form-group text-dange">
        <div>
            @Html.ValidationSummary(true)
        </div>
    </div>

    <div class="form-group">
        <button type="submit" style="width:100%" class="btn btn-primary">Sign in</button>
    </div>
    <div class="form-group">
        <p>
            <a asp-action="RecoveryPassword">
                Forgot password?
            </a>
        </p>
    </div>
    <div class="form-group">
        <p>
            Register account </br>
            <a asp-action="RegisterUser">
                click here
            </a>
        </p>
    </div>
</form>
