@{
    Layout = "~/Views/Authorization/_AuthLayout.cshtml";
}
@using BlogFest.Web.ViewModels.Authorization
@model RecoveryPasswordViewModel


<section class="vh-100">
    <div class="py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Recovery Password</h3>
                        <partial name="_PartialRecovery"/>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        $('#RecoveryPassword').on('submit', function(e){
            e.preventDefault();
            var result = $(this).valid();

            if(!result) return;

            $.ajax({
                method:'post',
                url: '@Url.Action("RecoveryPassword")',
                data:$(this).serialize(),
                success: function(data){
                    if(data.result){
                        openSuccessModal(data.message);
                        return;
                    }

                    var form = $('#RecoveryPassword');
                    form.html(data.htmlResult);
                    $.validator.unobtrusive.parse(form);
                }
            });
        });
    </script>
}