@{
    Layout = "~/Views/Authorization/_AuthLayout.cshtml";
}
@using BlogFest.Models.Authorization
@model RegisterUserViewModel


<section class="vh-100">
    <div class="py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Sign up</h3>

                        <partial name="_PartialSignUp" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        $('#RegisterForm').on('submit', function (e) {
            e.preventDefault();
            debugger;
            $('#RegisterForm').valid();

            $.ajax({
                url: '@Url.Action("RegisterUser")',
                data: $('#RegisterForm').serialize(),
                method:'post',
                success: function(data){
                    console.dir(data);
                    if (data.result && data.linkRedirect) {
                        window.location.href = data.linkRedirect;
                        return;
                    }

                    if (data.htmlResult != null){
                        var form = $('#RegisterForm');
                        form.html(data.htmlResult);
                        $.validator.unobtrusive.parse(form);
                    }
                },
                error: function (data) {
                openDefaultDangerModal();
                }
            });
        });
    </script>
}